footer {
  border-top: 1px solid var(--gray-100);

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    span {
      font-size: 0.75rem;
      text-align: center;
    }
  }
}
